<%= stylesheet_link_tag "all" %>
<div class="header">
    <%= render 'header' %>
<div class="Main">
    <h1>Welcome to Outnet on Rails.</h1>
    <p> What hapened to the old Outnet? Well... let's just say the creator saw an oportunity and lept to take it.</p>

</div>
